.navigation {
    background-color: #F0F0F0;
    display: flex;
    margin: 0 0%;
    height: 150px;
}

.navOptions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-family: american typewriter;
    font-size: 30px;
    font-style: semibold;
    color: #B48E8E;
    
}

.highlight {
    cursor: pointer;
    text-decoration: none;
    font-family: phosphate;
    font-size: 150px;
    font-style: inline;
    color: #717E6E;
}

h1 {
    font-family: phosphate;
    font-size: 150px;
    font-style: inline;
    color: #717E6E;
}

h2 {
    font-family: american typewriter;
    font-size: 50px;
    font-style: semibold;
    color: #B48E8E;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#backgroundImg {
    position: relative;
    top: 0;
    left: 0;
}

#headingCircle {
    position: absolute;
    top: 400px;
    left: 520px;
    
}